[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
prometheus-client = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.8"
